# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python cache
__pycache__/
*.pyc
*.pyo

# Windows system files
Thumbs.db
desktop.ini

# macOS system files
.DS_Store

# Environment & cache
.env
.conda/
.ipython/
.jupyter/

# Temporary files
*.tmp
*.log
*.bak

# Excel temporary files
~$*.xlsx
~$*.csv
